
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>THÔNG TIN SINH VIÊN</title>
</head>
<body>
    <h2>THÔNG TIN SINH VIÊN</h2>
    <table>
        <tr>
            <td>Mã sinh viên: </td>
            <td>61133540</td>
        </tr>
        <tr>
            <td>Họ tên: </td>
            <td>Nguyễn Khánh Duy</td>
        </tr>
        <tr>
            <td>Lớp: </td>
            <td>61CNTT-1</td>
        </tr>
        <tr>
            <td>Ngày kiểm tra: </td>
            <td> Chưa rõ</td>
        </tr>
    </table>
</body>
</html>
