
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>THÔNG TIN SINH VIÊN</title>
</head>
<body>
    <div> 
        Mã sinh viên [Mã sinh viên dự kiểm tra...]
        Họ tên [Họ tên sinh viên kiểm tra...]
        Lớp ...
        Ngày kiểm tra...
    </div>
</body>
</html>
